@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Goods Donations";
}
<div id="bg"></div>
<div class="b">
    <center>
        <h3 class="">Donations</h3>
        <hr />
        <br />
        <h3>🔗🏠Goods Donation</h3>
        <form asp-action="MonetaryDonationValidation" method="post" class="fm">


            <div class="form-outline mb-4">
                💵<label class="form-label">Number Of Items</label>
                <input type="number" value="1" min="0" max="1000000" step="1.00" name="Amount" class="form-control" required="" autofocus />
            </div>
            <div class="form-outline mb-4">
                📆<label class="form-label">Donation date</label>
                <input type="date" name="GoodsDonaionDate" class="form-control" required="" autofocus />
            </div>
            <div class="form-outline mb-4">
                <!-- drop down -->
            </div>
            <div class="form-outline mb-4">
                📝<label class="form-label">Description of Items</label>
                <textarea type="text" name="descriptionOfItems" class="form-control" required="" autofocus></textarea>
            </div>
            <div class="form-check">
                <label class="form-check-label"> Donate Anonymously</label><br>
                <input type="checkbox" id="vehicle1" name="Anoinymous" value="1" style="height:30px;">
            </div>



            <button class="btnL" type="submit">Submit</button>

        </form>
    </center>


</div>