
@using DisasterAlleviationFoundation.Models;
@model IEnumerable<RecordsDisplay>

@{
    ViewData["Title"] = "Home Page";

}

<div id="bg"></div>
<div class="b">
    <h2 class="animHead">View all donation data</h2> <br />
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">|<span style="color:orange"> Monetary donation Table </span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DisplayDisasterData">|Disaster Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GoodsDonationDataDisplay">|Goods Donation table</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3>@ViewData["TotalMonetaryDonation"]</h3>
    <hr />
    <center>

        <h2>Monetary Donation</h2>
        @{int i = 1;}
        <table border="0" cellspacing="1" cellpadding="2" class="table table-hover table-striped" style="color:white">
            <tr style="color:orange">
                <th scope="col">#</th>
                <th scope="col">Donation Date</th>
                <th scope="col">Amount</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.MDonationDate</td>
                    <td>R @item.Amount</td>
                </tr>
            }
        </table>
    </center>


</div>