<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
</head>
<body>
    <h2>Admin Allocation</h2>
    <div>
        @RenderBody()
    </div>
</body>
</html>
