@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model DisasterAlleviationFoundation.Models.UserDetails
@{
    ViewData["Title"] = "Puchased Goods Donation";
    Layout = "~/Views/Shared/_AllocationLayout.cshtml";
}
<div id="bg"></div>
<div class="b">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AdminAllocation" asp-action="MonetaryAllocation">|Monetary Allocation </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AdminAllocation" asp-action="GoodsAllocation">|Goods Allocation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AdminAllocation" asp-action="CapturePurchasedGoods">|<span style="color:orange">Capture Purchased Goods</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AdminAllocation" asp-action="ViewAllocatedMonetaryData">|Allocated Monetary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AdminAllocation" asp-action="ViewAllocatedGoodsData">|Allocated Goods</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AdminAllocation" asp-action="ViewPurchasedGoods">|View Purchased Goods</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">|Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <center>
        <h3 class="">Donations</h3>
        <hr />
        <br />
        <h3>🔗🏠Goods Donation</h3>
        <h3>@ViewBag.AvailableAmount</h3>
        <form asp-action="PurchasedGoodsValidation" method="post" class="fm">


            <div class="form-outline mb-4">
                💵<label class="form-label">Number Of Items</label>
                <input type="number" value="1" min="0" max="1000000" step="1.00" name="NumberOfItems" class="form-control" required="" autofocus />
            </div>
            <div class="form-outline mb-4">
                📆<label class="form-label">Donaion date</label>
                <input type="date" name="GoodsDonaionDate" class="form-control" required="" autofocus />
            </div>

            <div class="form-outline mb-4">
                @*ViewBag.CityList is holding all the cities values*@
                @Html.DropDownListFor(model => model.selectededCategory, ViewBag.CityList as SelectList, "Select Categorys", new { @class = "form-control", @onChange = "SelectedValue(this)" })
                @Html.ValidationMessageFor(model => model.selectededCategory, "", new { @class = "text-danger" })
                <input type="hidden" name="CategoryID" class="form-control" id="myCategoryID" />
            </div>
            <div class="form-outline mb-4">
                📝<label class="form-label">Description of Items</label>
                <textarea type="text" name="descriptionOfItems" class="form-control" required="" autofocus></textarea>
            </div>

            <div class="form-outline mb-4">
                💵<label class="form-label">Amount R</label>
                <input type="number" value="1" min="0.00" max="@ViewBag.AmountLimit" step="1.00" name="Amount" class="form-control" required="" autofocus />
            </div>

            <button class="btnL" type="submit">Submit</button>

        </form>
    </center>
</div>

<script>

    //To get selected value an text of dropdownlist
    function SelectedValue(ddlObject)
    {
        //Selected value of dropdownlist
        var selectedValue = ddlObject.value;
        //Selected text of dropdownlist
        var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;

        document.getElementById("myCategoryID").value = selectedValue;

        //alert popup with detail of seleceted value and text
       // alert(" Selected Value: " + selectedValue+" -- "+"Selected Text: " + selectedText ) ;
    }
</script> 